/* Layout */

.page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* .page > * {
  border:5px solid red;
}

.page-content > * {
  border:5px solid orange;
} */

/* Page header */
.page-header {
  background-color: maroon;
  margin-bottom: 30px;
}

/* Page content */
.page-content {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.content-aside {
  margin-bottom: 20px;
  display: block;
}

.content-aside p {
  background-color: #eaeaea9c;
/* padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px; */
padding: 15px;
font-weight: 600;
margin-bottom: 30px;
} 

.content-main {
  display: block;
}

/* Media styles for desktop */
@media screen and (min-width: 800px) {
  .page-content {
    flex-direction: row;
  }

  .content-main {
    flex-grow: 1;
    margin-left: 30px;
  }

  .content-aside {
    width: 350px;
    flex-shrink: 0;
  }
}

/* @media screen and (min-width: 1280px) {
  .page-content {
    width: 1280px;
  }
} */

/* Page footer */

.page-footer {
  padding: 16px;
  opacity: 0.7;
  background-color: #ffffff;
  margin-top: 30px;
}
