body {
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    background-image: url('images/pattern.png');
}

.page {
    height: 100%;
    width: 100%;
    display: block;
    overflow: hidden;
}

#mainheader {
    background-color:maroon;
}

nav {
    display: block;
    overflow: hidden;
}

nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav>ul>li {
    float: left;
}

nav>ul>li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
}



@media screen and (min-width: 800px)  { 
    nav {
        height: 60px;
        width: 1000px;
        margin: 0 auto 20px;
    }
}

@media screen and (min-width: 800px)  { 
    #mainheader {
        background-color:maroon;
    }
}

#leftmenu {
    margin-bottom: 20px;
    display:block;
}


@media screen and (min-width: 800px)  { 
    #leftmenu {
        float: left;
        width: 30%;
        border:0;
    }
}

.searchbox {
    padding: 5px;
    margin: 10px 10px;
    width: 200px;
}

#main {
    display: block;
    margin-bottom: 20px;
}

@media screen and (min-width: 800px)  { 
    #main {
        float: right;
        width: 68%;
    }
}

footer {
    clear: both;
    width: 100%;
}

header,
section,
footer,
aside,
nav,
main,
article,
figure {
    display: block;
}

table,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.page-content {
    width: 100%; margin: 0 auto;
}

@media screen and (min-width: 800px)  { 
    .page-content { 
        width:1280px;
    }
}


.page-footer {
    padding: 16px;
    opacity: 0.7;
    background-color: #ffffff;
}
.page-footer p {
    margin:0;
    padding:0;
}
.page-footer p.copyrights {
    font-size: 11px; 
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}

.section-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

@media screen and (min-width: 800px)  { 
    .section-wrapper {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.section-wrapper section {
margin:16px 0;
min-width: 300px;
}

@media screen and (min-width: 800px)  { 
    .section-wrapper section {
        margin:0;
    }
}



.section-wrapper h3 {
    padding:0;
    margin:0;
    font-size:15px;
}

#promos {
    border: 4px dashed maroon;
    padding: 16px; 
    border-radius: 10px;
    background: rgb(255,227,142);
    background: linear-gradient(90deg, rgba(255,227,142,1) 0%, rgba(255,227,142,1) 35%, rgba(203,255,142,1) 100%);
}

#promos h2 {
    font-family:verdana;
    color: maroon; 
    font-size: 23px; 
    margin: 0; 
    text-align: center; 
    text-transform: uppercase;
}

#promos .product-item {
    position: relative;
}

#promos .product-item h3 {
    text-align: center; 
    text-transform: uppercase;
}

#promos strong {
    position: absolute; 
    top:60px; 
    left:70px; 
    border-radius: 50%; 
    padding: 20px;
    position: absolute;
  border-radius: 50%;
  background-color: red;
    color: yellow;
 box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px #f0f,
    inset -60px 0 80px #0ff,
    inset 20px 0 80px #f0f, 
    inset -60px 0 80px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
    -moz-animation: glowing 5000ms infinite;
    animation: glowing 5000ms infinite;
}

@keyframes glowing {
    0% { box-shadow: 0 0 -10px red; }
    40% { box-shadow: 0 0 20px rgb(132, 0, 255);  }
    60% { box-shadow: 0 0 20px rgb(132, 0, 255);   }
    100% { box-shadow: 0 0 -10px rgb(132, 0, 255); }
  }


.article-photo img {
    width: 380px;

}

@media screen and (min-width: 800px)  { 
    .article-photo img {
        width: 100%;
    }
}